roms

emulator/CMakeCache.txt
emulator/CMakeFiles/
emulator/CPackConfig.cmake
emulator/CPackSourceConfig.cmake
emulator/Makefile
emulator/cmake_install.cmake
emulator/flags.h
emulator/libmgba.0.7.0.dylib
emulator/libmgba.0.7.dylib
emulator/libmgba.dylib
emulator/mgba-server
emulator/mgba-client
emulator/qt/
emulator/sdl/
emulator/version.c
*.pyc
emulator/src/platform/python/CMakeCache.txt
emulator/src/platform/python/CMakeFiles/
emulator/src/platform/python/Makefile
emulator/src/platform/python/cmake_install.cmake
emulator/src/platform/python/flags.h
emulator/src/platform/python/lib.c
emulator/src/platform/python/mgba/_pylib.so
emulator/src/platform/python/setup.py
emulator/CTestTestfile.cmake
emulator/python/
emulator/src/platform/python/mgba/_pylib.abi3.so
mgba-qt.6
emulator/libmgba.so
emulator/libmgba.so.0.7
emulator/libmgba.so.0.7.0
roms/*.sav
emulator/src/platform/qt/
emulator/src/platform/sdl/