.head {
  padding-top: 25px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.header {
  color: #f1f1f1;
}

.icon {
  background: none;
  border: none;
}

.content, .controls {
  position: absolute;
  left: 0;
  right: 0;
  width: 750px;
  margin: auto;
  background-color: #2c2f33;
  padding-bottom: 32px;
}

.controls {
  z-index: 100;
  display: none;
}

.switch-key {
  position: absolute;
  right: 16px;
}

#backbutton {
  position: absolute;
  bottom: 32px;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  left: 32px;
  border-width: 0;
  background-color: #f1f1f1;
  font-size: 25px;
}

#rom-list {
  list-style-type: none;
}

.controlbar {
  padding-top: 25px;
  flex: 1;
  width: 750px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rom, .key {
  position: relative;
  width: 750px;
  border: none;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  color: #2c2f33;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 3px black;
  font-size: 17px;
}

.filename {
  font-size: 12px;
  color: #a3a3a3;
}

.save {
  opacity: 0.3;
  position: absolute;
  right: 16px;
}

.has_save {
  opacity: 1;
}

.selected {
  background-color: #007FFF;
}