{% extends "../template.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/index/index.css">
  <script>
    window.MainBridge = new Main();
  </script>
{% end %}

{% block content %}
  <div class="controlbar">
    <span><button class="icon" id="backButton"><img  width="40" height="40" src="static/assets/back-arrow.svg" /></button></span>
    <span><button class="icon" id="layoutButton"><img  width="40" height="40" src="static/assets/gear.svg" /></button></span>
    <span><button class="icon" id="refreshButton"><img  width="40" height="40" src="static/assets/refresh.svg" /></button></span>
  </div>
  <div id="layout" class="controls">
    <div class="head">
      <h1 class="header">Controls</h1>
    </div>
    <div class="key-list"></div>
  </div>
  <div class="content">
    <div class="head">
      <h1 class="header">Available roms</h1>
    </div>
    <ul id="rom-list">
      {% for rom in roms %}
        <button data-filename="{{ rom['filename'] }}" class="rom">
          <div>
            {{ escape(rom['name']) }} <span class="filename">({{ escape(rom['filename']) }})</span>
          </div>
          <img class="save {% if rom['has_save'] %}has_save{% end %}" width="25" height="25" src="static/assets/save.svg" />
        </button>
      {% end %}
    </ul>
  </div>
{% end %}
