* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c2f33;
  width: 648px;
}

.head {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.header {
  color: #f1f1f1;
}

.refresh {
  background: none;
  border: none;
}

.content {
  top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  width: 750px;
  margin: auto;
}

.backbutton {
  position: absolute;
  bottom: 32px;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  left: 32px;
  border-width: 0;
  background-color: #f1f1f1;
  font-size: 25px;
}

#rom-list {
  list-style-type: none;
}

.rom {
  width: 750px;
  border: none;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  color: #2c2f33;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 12px;
  box-shadow: 0 1px 3px black;
}

.filename {
  font-size: 12px;
  color: #a3a3a3;
}

.save {
  opacity: 0.3;
  position: absolute;
  right: 16px;
}

.has_save {
  opacity: 1;
}

.selected {
  background-color: #007FFF;
}