* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c2f33;
}

.controls {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    padding: 3px;
}

.game, #canvas {
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -5;
}

#canvas, .sidebar {
    height: 648px;
}

#backCapture {
    visibility: hidden;
}

#dummy {
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 1px;
    height: 1px;
    background-color: white;
    border-width: 0;
}

.sidebar {
    top: 0;
    position: absolute;
    z-index: 999;
    width: 154px;
}

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}

.button {
    position: absolute;
    background-color: #f1f1f1;
    border-width: 0;
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 25px;
    margin: auto;
    left: 0;
    right: 0;
}

.reload {
    background-color: #2c2f33;
    color: #f1f1f1;
    font-weight: bold;
    border-radius: 0;
    width: 154px;
}

.reload-emu {
    bottom: 100px;
}

.startButton {
    top: 400px;
}

.selectButton {
    top: 475px;
}

.page-controls {
    width: 154px;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.shoulder {
    position: absolute;
    background-color: #f1f1f1;
    border-width: 0;
    width: 154px;
    height: 50px;
    font-size: 18px;
    margin: auto;
    left: 0;
    right: 0;
}

.game-settings {
    position: absolute;
    width: 154px;
    top: 250px;
    padding: 12px;
    color: white;
}

.setting {
    margin-top: 10px;
}

